#mainContent
  %h1
    %center
      %ul.contact
        %li 
          = mail_to 'munro.sarah@gmail.com' do
            = image_tag "contact/gmail.png", alt: 'Gmail' 
            [munro.sarah]
        %li
          = link_to 'https://github.com/munrosarah/' do
            = image_tag "contact/github.png", alt: 'Github'
            [munrosarah]
        %li
          = link_to "http://www.linkedin.com/in/munrosarah0" do
            = image_tag "contact/linked_in.jpg", alt: 'LinkedIn' 
            [munrosarah0]
      